html, body, h1, h2, h3, p {
	padding: 0;
	margin: 0;
	margin-block-start: 0;
	margin-block-end: 0;
}

html {
	font-family: 'Consolas', monospace;
}

#clock-box {
	font-weight: bold;
	font-size: 4vh;
	position: fixed;
	bottom: 5.2vh;
	right: 3.0vw;
	text-align: right;
	color: #000;
	text-shadow: none;
}

#clock-box p {
	display: inline;
	vertical-align: middle;
}

#now {
}

#white {
	position: fixed;
	left: 2vw;
	right: 2vw;
	top: 2vh;
	height: 18.5vh;
	padding: 0;
	text-align: center;
	color: #000;
	font-size: 4vw;
	font-weight: 200;
	/* border: 1px #000 solid; */
}

#white p {
	overflow: hidden;
	text-overflow: ellipsis;
}

#starting-at {
	font-size: 2.5vw;
	font-weight: 200;
}

#title {
	font-size: 2.5vw;
	font-weight: 200;
}

#presenter {
	font-weight: 600;
}
