html,
body,
h1,
h2,
h3,
p,
ul,
li,
div {
    padding: 0;
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

#presenter {
    list-style: none;
}

:root {
    /* PyConAU_2026 - Colour Breakdowns.pdf, PyCon Australia Style Guide_V1.pdf */
    --charcoal: #282828;
    --stone: #eaeaea;
    --violet: #511fe5;
    --emerald: #259f4f;
    --coral: #ef553c;
    --lavender: #b280ff;
    --lime: #bdf461;
    --lemon: #f2bf36;
}

.jakarta {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.roboto {
    font-family: 'Roboto Slab', serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#timewarp-indicator {
    position: fixed;
    left: 1vw;
    top: 1vw;
    width: 0.3vw;
    height: 0.3vw;
    background-color: var(--coral);
    border-radius: 0.3vw;
    border: var(--violet) solid 0.1vw;
    opacity: 90%;
}

#timewarp-indicator::slotted {
    content: ' ';
}
