html, body, h1, h2, h3, p, div {
	padding: 0;
	margin: 0;
	margin-block-start: 0;
	margin-block-end: 0;
}

html {
	font-family: 'PT Sans', sans-serif;
}

#clock-box {
	font-family: 'PT Sans', sans-serif;
	font-weight: 700;
	font-size: 4.5vh;
	line-height: 6.8vh;
	position: fixed;
	top: 3vh;
	left: 4.8vw;
	width: 12.9vw;
	height: 6.8vh;
	text-align: center;
	color: #5b58a6;
}

#clock-box p {
	display: inline;
	vertical-align: middle;
}

#footer {
	position: fixed;
	left: 1vw;
	right: 17vw;
	top: 75.5vh;
	text-align: right;
	color: #000;
	font-size: 3.8vh;
}

#footer #starting-at {
	text-transform: uppercase;
	font-weight: 700;
	color: #606060;
	margin-bottom: 0.5vh;
}

#footer #title-container {
	font-family: 'Catamaran', sans-serif;
	max-height: 10vh;
	line-height: 5vh;
	margin-bottom: 0.5vh;
	overflow: hidden;
}

#footer #title-container p {
	border: none;
}

#footer #subtitle-container {
	font-family: 'Catamaran', sans-serif;
	max-height: 10vh;
	line-height: 5vh;
	overflow: hidden;
	font-weight: 700;
}
