html, body, h1, h2, h3, p {
	padding: 0;
	margin: 0;
	font-family: 'PT Sans', sans-serif;
}

body {
	background-image: url('./background.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

#white {
	position: fixed;
	left: 0;
	right: 0;
	top: 69vh;
	bottom: 0;
	text-align: center;
}

#starting-at {
	font-size: 2vw;
}

#title {
	font-size: 2.5vw;
	font-weight: 700;
}

#presenter {
	font-size: 2vw;
}
