html, body, h1, h2, h3, p {
	padding: 0;
	margin: 0;
	margin-block-start: 0;
	margin-block-end: 0;
}

html {
	font-family: 'PT Sans', sans-serif;
}

body {
	background-image: url('./background.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

#clock-box {
	font-family: 'PT Sans Narrow', sans-serif;
	font-weight: 400;
	font-size: 5vh;
	position: fixed;
	top: 3vh;
	right: 3vw;
	width: 20vw;
	text-align: center;
	color: #fff;
}

#now {
	font-family: 'Roboto Mono', monospace;
	font-weight: 700;
	font-size: 9vh;
}

#white {
	position: fixed;
	left: 0;
	right: 0;
	top: 69vh;
	bottom: 0;
	text-align: center;
	color: #000;
}

#starting-at {
	font-size: 2vw;
}

#title {
	font-size: 2.5vw;
	font-weight: 700;
}

#presenter {
	font-size: 2vw;
}
