html, body, h1, h2, h3, p {
	padding: 0;
	margin: 0;
	margin-block-start: 0;
	margin-block-end: 0;
}

html {
	font-family: 'PT Sans', sans-serif;
}

#clock-box {
	font-family: 'PT Sans Narrow', sans-serif;
	font-weight: 400;
	font-size: 5vh;
	position: fixed;
	top: 3vh;
	right: 3vw;
	width: 20vw;
	text-align: center;
	color: #fff;
	text-shadow: 0 0.25vh 1vh black;
}

#now {
	/*font-family: "PT Sans", sans;*/
	font-weight: 700;
	font-size: 9vh;
}

#white {
	background-color: white;
	transform: rotate(-3deg);
	position: fixed;
	left: -10vw;
	right: -10vw;
	bottom: -10vh;
	padding: 3vh 15vw 18vh 15vw;
	text-align: left;
	color: #000;
}
#white p {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#starting-at {
	font-size: 3.5vw;
	margin-right: 1.5em;
}

#title {
	font-size: 4.666vw;
	font-weight: 700;
}

#presenter {
	font-size: 3.5vw;
}
