html, body, h1, h2, h3, p {
	padding: 0;
	margin: 0;
	margin-block-start: 0;
	margin-block-end: 0;
}

@font-face {
    font-family: 'Brevia-Medium';
    src: url('05Brevia-Medium-webfont.woff2') format('woff2'),
         url('05Brevia-Medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Brevia-Bold';
    src: url('09Brevia-Bold-webfont.woff2') format('woff2'),
         url('09Brevia-Bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
	font-family: 'Brevia-Medium', sans-serif;
}

#clock-box {
	font-weight: 300;
	font-size: 7vh;
	position: fixed;
	bottom: 5.5vh;
	right: 37.5vw;
	text-align: right;
	color: #fff;
	text-shadow: 0 0.25vh 1vh black;
}

#clock-box p {
	display: inline;
	vertical-align: middle;
}

#now {
}

#white {
	position: fixed;
	left: 3vw;
	right: 3vw;
	top: 2vh;
	height: 12.5vh;
	padding: 0;
	text-align: left;
	color: #000;
	font-size: 3vw;
	font-weight: 700;
	/* border: 1px #000 solid; */
}

#white p {
	overflow: hidden;
	text-overflow: ellipsis;
}

#starting-at {
}

#title {
	font-size: 2.5vw;
	font-weight: 400;
}

#presenter {
}
